body::-webkit-scrollbar {
  /* Chrome, Edge, Safari */
  display: none;
}

@media only screen and (max-width: 575px) {

  /* .logo-margin {
  margin-right: clamp(1em, 5vw, 5em);
/* minimum 1em, preferred 5vw, maximum 5em 
}
 */

  .logo-margin {
    margin-right: 3vw !important;
  }

  .fs {
    font-size: 11px !important;
  }

}

.newArivaal-style {
  border-bottom: 1px solid white;
  width: 60%;
  margin: 0 auto;
}

.profile-name {
  font-size: 10px !important;
}

.logo-margin {
  margin-right: 40vw;
}

/* Responsive utilities */
@media (max-width: 991px) {
  .max-w-450 {
    max-width: 100% !important;
  }

  .text-lg-start {
    text-align: center !important;
  }

  .mb-5 {
    margin-bottom: 2rem !important;
  }
}

@media (min-width: 992px) {
  .max-w-450 {
    max-width: 450px !important;
  }
}

/* Add smooth spacing for all devices */
.container {
  padding: 2rem 1rem;
}

.row {
  row-gap: 2rem;
}